/* CSS Reset */
body, ul, h1, h4, p { margin: 0;  padding: 0; }
li {  list-style-type: none;  }
a { text-decoration: none; color: #011c3f; }
h4 {  font-weight: normal;  }

.clearfix {
  content: ' ';
  display: block;
  clear: both;
}

body {
  background-color: #f6f6f6;
}

/* header */

.header {
  background-image: url(../images/background.png);
  height: 80px;
}
.wrapper{
  width:100%;
  margin:0 auto;
}
.backcontainer {
  height: 50px;
  margin: 10px;
  float: left;
}

.back {
  background-image: url(../images/arrow.png);
  background-size: cover;
  repeat: no-repeat;
  width: 10px;
  height: 20px;
  margin: 20px;
  float: left;
}

.logo {
  width: 80px;
  margin: 20px 0;
  float: left;
}

.pagename {
  font-family: 'Noto Serif KR', serif;
  font-weight: 100;
  font-size: 25px;
  letter-spacing: -2px;
  color: #d2ac48;
  display: inline-block;
  padding: 20px 0;
  margin: 0 20px;
}

.pagename:before {
  content: '|';
  color: #95741b;
  margin-right: 20px;
}


/* section */

.section {
  text-align: center;
  padding: 10px;
}


.map {
  border: 2px solid #d2ac48;
  width: 90%;
  margin: 30px 0;
}
.main{
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count:2;
  -webkit-column-gap: 1px;
  -moz-column-gap: 1px;
  column-gap:1px;
  margin:20px auto;
}

#break{
  break-after:column;
}

.desc {
  background-color: #ecebeb;
  margin:20px auto;
  width: 90%;
  padding: 10px;
  box-sizing: border-box;
  font-family: 'Noto Sans KR', sans-serif;
  letter-spacing: -0.3px;
  color: #011c3f;
}
fieldset{
  margin:auto 10px;
}
.desc ul li{
  font-family: 'Noto Sans KR', sans-serif;
  letter-spacing: -0.3px;
  margin: 10px 3px;
  padding: 0 10px;
  font-size: 14px;
  line-height: 14px;
  text-align: left;
  color: #011c3f;
}
.desc:last-child {
  margin-bottom: 30px;
}

.desc h4 {
  font-family: 'Noto Sans KR', sans-serif;
  font-size:x-large;
  font-weight: bold;
  
}

.desc h4::before{
  content:'●';
  font-size:6pt;
  position:relative;
  bottom:4px;
  right:4px;
}

.desc h4::after{
  content:'●';
  font-size: 6pt;
  position:relative;
  bottom:4px;
  left:4px;
  
}

.flogo{
  width:80px;
  margin-top:20px;
}


.desc h5{
  margin:3px auto;
  font-size:17px;
  font-weight: 100;
  display:inline-block
}

.button{
  background-color: #011c3f;
  border:1px solid white;
  color:white;
  box-shadow: black;
  padding-left:5px;
  padding-right:6px;
  text-align: center;
  margin-top:15px;
  margin-left:10px;
  font-size:15px;
  display:inline-block;
}

.desc p {
  margin: 10px 0 5px 0;
  padding: 0 10px;
  font-size: 14px;
  text-align: left;
}

.desc a{
  font-size: medium;
  text-align: left;
}





/* footer */

.footer {
  background-color: #c9c9c9;
  height: 60px;
  width:100%;
  text-align: center;
}

.footer p {
  font-family: 'Noto Sans KR', sans-serif;
  color: #999;
  padding: 10px;
}
