/* CSS Reset */
body, ul, h2, p { margin: 0;  padding: 0; }
li {  list-style-type: none;  }
a { text-decoration: none;  }
h2 {  font-weight: normal;  }

@media(max-width:800px){

}

.clearfix {
  content: ' ';
  display: block;
  clear: both;
}

.wrapper {
  background-color: #f6f6f6;
}

/* header */

.header {
  background-image: url(images/background.png);
  color: white;
  height: 80px;
}

.header h2{
  font-family: 'Song Myung', serif;
  font-size: 30px;
  color: #b59233;
}


.logo {
  width: 80px;
  margin: 20px;
}

/* section */

.section-top {
  text-align: center;
}

.map {
  border: 2px solid #d2ac48;
  width: 70%;
  margin: 30px 0;
}
.section{
  text-align:center;
}
.section ul li{
  margin:0 18px;
}
.section-bottom {
  display: inline-block;
}

.building {
  background-image: url(images/lace.png);
  background-size: 100%;
  background-repeat: no-repeat;
  float: left;
  padding: 30px 30px;
  padding-top: 20px;
  margin: 20px 26px;
  box-sizing: border-box;
  width: 200px;
}


.building h2 {
  font-family: 'Song Myung', serif;
  font-size: 30px;
  color: #b59233;
}

.building p {
  font-family: 'Song Myung', serif;
  font-size: 18px;
  color: #a18028;
}

/* footer */

.footer {
  background-color: #c9c9c9;
  height: 60px;
  text-align: center;
}

.footer p {
  font-family: 'Song Myung', serif;
  color: #999;
  padding: 10px;
}


